// 定义 CSS 变量在 :root 中
:root,
page {
  --title-text-color: #2D3E50FF;
  --desc-text-color-light: #2D3E500D;
  --desc-text-color: #2D3E5066;
  --desc-text-color-heavy: #2D3E5099;
  --primary-color: #45C886FF;
  --primary-color-light: #45C88666;
  --primary-gradient: linear-gradient(to right, #45C887, #3EB87A);
  --bg-color: #F4F9F9FF;
}

// 定义可复用的类
.title-text {
  color: var(--title-text-color);
}

.desc-text {
  color: var(--desc-text-color);
}

.desc-text-heavy {
  color: var(--desc-text-color-heavy);
}

.primary-text {
  color: var(--primary-color);
}

.primary-btn {
  background-color: var(--primary-color);
  color: #fff;
}

.default-bg-color {
  background-color: var(--bg-color);
}
